@import "colors";

.cartItem{
    background-color: $tertiary;
    border-radius: 10px;
    margin: 2rem 0;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    align-items: center;
    >img{
        width: 100%;
        height: 200px;
        object-fit: contain;
    }
    >div{
        display: flex;
        align-items: center;   
        height: 100%;
        >button{
            width: 30px;
            height: 30px;
            border: none;
            background-color: $primary;
            color: $tertiary;
            cursor: pointer;
            &:hover{
                background-color: $primary-dark;
            }
            >p{
                width: 30px;
                height: 30px;
                display: flex;
                justify-content:center ;
                align-items: center;
            }
        }
    }>svg{
        cursor: pointer;
        font-size: 1.5rem;
        display: inline-block;
        margin: auto;
        &:hover{
            color: $secondary;
        }
    }
}