@import "colors";
.home{
    display: flex;
    padding: 3rem;
    justify-content: center;
    flex-wrap: wrap;
}
.productCard{
    background-color: $tertiary;
    width: 200px;
    margin: 2rem;
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s;
    >img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    >h4{
        margin: 1rem;
        text-align: center;
    }
    >button{
        cursor: pointer;
    background-color: $secondary;
    border: none;
    padding: 1rem;
    border-radius: 5px;
    color: $tertiary;
    font-weight: 600;
    transition: all 0.5s;
    width: 100%;
    &:hover{
        background-color: $secondary-dark;
    }
    }
    &:hover{
      transform: scale(1.05);
    }
}
